*{
  font-family: Arial;

}
#main-menu{
  position: absolute;
  z-index: 1;
  top: 2%;
  left:1%;
  bot: 2%;
  height: 96%;
  width: 340px;
  color: black;
  background-color: white;
  box-shadow: 0 -1px 24px rgba(0,0,0,0.4);
}

#title-menu, #event-list, #event{
  margin-top: 5px;
  margin-left: 5px;
  list-style: none;

}

#title-menu{
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#us{
  color: #ff5c1c;
}

#logo-wsf{
  height: 90px;
  width: 90px;
}

#space-bar{
  height: 20px;
  width: 160px;

}

#event-list, #event{
  border-top: 1px solid lightgrey;
}

#add-an-event{
  height: 40px;
  width: 90px;
  color : white;
  background-color: #ff5c1c;
}


#add-an-event:hover{
  height: 40px;
  width: 90px;
  color : white;
  background-color: #FF461C;
}

#logo-title{
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  align-items: center;
}

#add-event-title{
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

#nextEventTxt{
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
