<div id="main-menu">
  <div id="title-menu">
    <div id="logo-title">
      <img id="logo-wsf" src=" ./assets/img/wsf-logo.png" alt="logo wsf">
      <div id="add-event-title">
        <div><span id="join">JOIN</span><span id="us">US</span></div>
        <button id="add-an-event">Add event</button>
      </div>
    </div>
    <div id="style-search-bar">
    <input id="search-bar" type="text" placeholder="Search...">
    </div>
  </div>

  <div id="event">
    <p> VOS PROCHAINS EVENEMENTS : </p>
  </div>
  <ul id="event-list">
    <li id="event-one">
      <p>EVENEMENT 1</p>
    </li>
    <li id="event-two">
      <p>EVENEMENT 2</p>
    </li>
  </ul>
</div>

