
#logOutButton{
  position: absolute;
  z-index: 1;
  top: 2%;
  right: 1%;
  box-shadow: 0 -1px 24px rgba(0,0,0,0.5);
}

.vertical-nav {
  min-width: 8rem;
  width: 8rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  position:fixed ;
  top:20vh;
  left:90vw ;
  z-index: 1;
  opacity: 90%;
}

.page-content {
  width: calc(100% - 17rem);
  height: 100vh;
  margin-left: 17rem;
  transition: all 0.4s;
}



