<div class="sidenav">
  <div class="login-main-text">
    <h2 class="text-center">joinUs !</h2>
  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-12">
    <div class="login-form">
      <form [formGroup]="authForm" (ngSubmit)="signIn()">

        <div class="form-group">

          <p [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
            <label>Email</label>
            <input class="form-control" type="email" placeholder="Email" formControlName="email">
          </p>

        </div>

        <div *ngIf="isSubmitted && formControls.email.errors">
          <div *ngIf="formControls.email.errors.required">Email is required
          </div>
        </div>

        <div class="form-group">

          <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
            <label>Mot de Passe</label>
            <input class="form-control" type="password" placeholder="Mot de Passe" formControlName="password">
          </p>

        </div>

        <div *ngIf="isSubmitted && formControls.password.errors">
          <div *ngIf="formControls.password.errors.required">Password is required</div>
        </div>

        <p>
          <input class="btn btn--submit" type="submit" value="Log in">
        </p>

      </form>

    </div>
  </div>
</div>
