<div class="sidenav">
  <div class="login-main-text">
    <h2 class="text-center">joinUs !</h2>
  </div>
</div>
<div class="main">
  <div class="toTheLeft col-md-4 col-sm-12">
    <div class="login-form">
      <form [formGroup]="authForm" (ngSubmit)="signIn()">

        <div class="form-group">
          <!--
                    <p [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
                      <label>Email</label>
                      <input class="form-control" type="email" placeholder="Email" formControlName="email">
                    </p>

                  </div>

                  <div *ngIf="isSubmitted && formControls.email.errors">
                    <div *ngIf="formControls.email.errors.required">Email is required
                    </div>
                  </div>

                  <div class="form-group">

                    <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
                      <label>Mot de Passe</label>
                      <input class="form-control" type="password" placeholder="Mot de Passe" formControlName="password">
                    </p>

                  </div>

                  <div *ngIf="isSubmitted && formControls.password.errors">
                    <div *ngIf="formControls.password.errors.required">Password is required</div>-->
          <p>
            Tester joinUs
          </p>
          <p [ngClass]="{ 'has-error': isSubmitted && formControls.guest.errors }">
            <input class="form-control" type="text" placeholder="Nom d'utilisateur" formControlName="guest">
          </p>
          <div *ngIf="isSubmitted && formControls.guest.errors">
            <div *ngIf="formControls.guest.errors.required">
              <div class="alert alert-danger" role="alert">
                Nom d'utilisateur requis
              </div>
            </div>
          </div>
        </div>
          <input class="btn btn--submit" type="submit" value="Continuer">
      </form>
      <hr/>
      <p>
        Connectez-vous pour créer des évènements
      </p>
      <app-auth-button></app-auth-button>
    </div>
  </div>
</div>
