<button class="btn btn-sm add-event" (click)="open(AddEventModal)">Ajouter évènement</button>
<ng-template #AddEventModal let-modal>
  <div class="modal-body">
    <form>
      <div class="form-group" *ngFor="let formValue of formValues">
        <label>{{formValue}}</label>
        <input class="form-control" [id]="formValue + '-input'" placeholder="{{formValue}}">
      </div>
      <div class="form-group">
        <label for="TextAreaDescription">A propos</label>
        <textarea class="form-control" id="TextAreaDescription" rows="2"
                  placeholder="Description de l'évènement"></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn add-event" (click)="modal.close('Save click')">Créer</button>
  </div>
</ng-template>
